@{
    ViewBag.Title = "Unexpected Error";
    ViewBag.Description = "Bene, molto imabarazzante. E' capitato un errore mentre processavo la richiesta. Non preoccuparti, il problema è stato segnalato e presto verrà risolto";
}

<div class="jumbotron text-center">
    <header>
        <h1><span aria-hidden="true" class="fa fa-exclamation-circle text-danger"></span> @ViewBag.Title</h1>
    </header>
    <p>@ViewBag.Description</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("index", "home")"><span aria-hidden="true" class="fa fa-home"></span>Vai alla homepage</a>
</div>